<form method="POST">
    <label>usuario:
        <input type="text" name="username">
    </label>
    <label>password
        <input type="password" name="password">
    </label>
    <label>email
        <input type="text" name="email">
    </label>
    <button type="submit">registrarme</button>
</form>